.ProfileFrame {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.Avatar {
    margin: auto;
    text-align: center;
    padding: 2rem;
    border-radius: 50%;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Username {
    font-weight: 850;
    font-size: 2rem;
    color: black;
    margin: 1rem;
}

.logout {
    margin: auto;
    margin-top: 3rem;
    width: 30%;
    text-align: center;
    border: none;
    background-color: rgb(255, 0, 149);
    padding: 0.7rem;
    color: white;
    font-weight: 800;
    font-size: larger;
    border-radius: 0.5rem;
}

.cursor {
    cursor: pointer;
}

.logout:hover {
    color: black;
    background-color: grey;
}

.form-frame {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 1.2rem 3rem 1.2rem 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 21em;
    height: max-content;
    margin-top: -11em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 1rem;
}

.form-frame>span {
    font-weight: 800;
    font-size: 2rem;
    align-self: center;
}

.form-frame>div>label {
    font-weight: 700;
}

.form-frame>div {
    display: flex;
    flex-direction: column;
    margin-top: 1.0rem;
}

.form-frame>div>input {
    border: 1.5px solid rgba(189, 189, 189, 0.74);
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin: 0.3rem 1.5rem 0rem 0rem;
    font-size: 1rem;
    font-weight: 600;
}

.form-frame>div>button {
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    font-weight: 900;
    background-color: #3498db;
    cursor: pointer;
}

[type='username'] {
    text-align: center;
    color: gray;
    margin-bottom: 1rem;

}

.m-1 {
    margin: 1rem;
}

@media only screen and (max-width: 767px) {
    /* phones */

    .form-frame {
        display: flex;
        text-align: left;
        flex-direction: column;
        padding: 1.2rem 3rem 1rem 3rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: fixed;
        top: 50%;
        left: 50%;
        width: 40% !important;
        height: max-content;
        margin-top: -15em;
        /*set to a negative number 1/2 of your height*/
        margin-left: -9em;
        /*set to a negative number 1/2 of your width*/
        border: 1px solid #ccc;
        background-color: #ffffff;
        border-radius: 1rem;
    }

    .form-frame>span {
        font-weight: 800;
        font-size: 1.5rem;
        align-self: center;
    }

    .form-frame>div>label {
        font-weight: 700;
    }

    .form-frame>div {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
    }

    .form-frame>div>input {
        border: 1.5px solid rgba(189, 189, 189, 0.74);
        border-radius: 0.3rem;
        padding: 0.5rem;
        width: 50%;
        /* margin: 0.3rem 1.5rem 0rem 0rem; */
        font-size: 0.5rem;
        font-weight: 600;
    }

    .form-frame>div>button {
        border: none;
        width: 55%;
        border-radius: 0.3rem;
        padding: 0.5rem;
        font-size: 1rem;
        color: white;
        font-weight: 900;
        background-color: #3498db;
        cursor: pointer;
    }

}

.signup {
    margin-top: -14em;
    padding: 0.5rem 3rem 0.5rem 3rem;

}